body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #F5F5DC; 
    color: #333333;
}

.header {
    background-color: #800000; 
    color: white;
    padding: 40px 20px;
    text-align: center;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

.upper{
    text-align: center;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
}
.qoute p{
    font-style: italic;
    font-size: 1.2em;
}
.header-content {
    text-align: center;
    position: relative;
}


#image {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    border: 3px solid white; 
}
body{
    background-color: #F5F5DC; 
}
.content{
    margin: 15px;
}