.header {

    background-color: #800000; /* Maroon */
    color: white;
    padding: 40px 20px;
    text-align: center;
    position: relative;
}

body{
    background-color: #F5F5DC; /* Light Beige */  
}